#Python
__pycache__/
*.py[cod]

#Virtualenv
venv/
.venv/
env/

#ENV/secrets 
.env
.env.*
secrets/
certs/

#Crypto
*.key
*private*.pem
*.p12
*.pfx 

#OS/IDE
.DS_Store
.vscode/
.idea/ 

# Python venv
venv/
.venv/

# Public keys atifacts
*.pem/n*.der/n